.navLinkHome {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Oxygen';
    text-shadow: 1px 1px 1px rgb(114, 71, 255);
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;

}

.navLinkCont {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Oxygen';
    text-shadow: 1px 1px 1px rgb(114, 71, 255);
    text-decoration: none;
    cursor: pointer;
}    

.navLinkHome:hover,
.navLinkHome:focus {
    color: rgb(218, 19, 42);
    text-shadow: 0 0 2px #FF0000;
}

.navLinkCont:hover,
.navLinkCont:focus {
    color: rgb(218, 19, 42);
    text-shadow: 0 0 2px #FF0000;
}