.userMenuWrap {
    display: flex;
    flex-direction: row;

}

.userWelcome {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Oxygen';
    text-shadow: 2px 2px 3px pink;
    margin-right: 20px;


}

.userWelcomeName {
    font-size: 17px;
    font-weight: 700;
    font-family: 'Oxygen';
    text-shadow: 2px 2px 3px rgb(220, 62, 89);
    margin-right: 5px;
}

.userLogOut {
    width: 80px;
    height: 25px;
    border-radius: 4px;
    border: none;
    background-color: rgb(247, 240, 245);
    box-shadow: rgba(106, 14, 60, 0.24) 5px 5px 5px 0px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Oxygen';
    text-shadow: 2px 2px 3px pink;
    margin-top: 15px;
}